<main>

	<h2>You are viewing: {{axis.name}} </h2>

	
	<div class="axis-individual">
	
		<p>Name: {{axis.name}}</p>
		<p>Email: {{axis.email}}</p>
		<p>Offers boosting services? {{axis.boostOffer}}</p>
		<p>Cost per hour: ${{axis.costPerHour}} </p>
	
		<a href="/axis/{{axis._id}}/edit">
			<h3>Edit</h3>
		</a>
		<form action="/axis/{{axis._id}}?_method=DELETE" method="POST">
			<input type="submit" value="Delete" class='submit-button'>
		</form>
		
	</div>
<a href="/">Return to Home Page</a>

</main>