<main>

	<h2>Edit your alt account</h2>

	<div id="edit-form" class="alt-container">

		<form action="/alts/{{alts._id}}?_method=PUT" method="POST" class="alt-new">
			<div>
				<label for="alias">Alias: </label>
				<input type="text" name="alias" id='alias' placeholder={{alts.alias}}>
			</div>
			<div>
				<label for="game">Game: </label>
				<input type="text" name="game" id='game' placeholder={{alts.game}}>
			</div>
			<div>
				<label for="platform">Platform: </label>
				<input type="text" name="platform" id='platform' placeholder={{alts.platform}}>
			</div>
			<div>
				<label for="hours">In-game hours: </label>
				<input type="number" name="hours" id='hours' placeholder={{alts.hours}}>
			</div>
			<div>
				<label for="youtubeLink">Youtube Link: </label>
				<input type="text" name="youtubeLink" id='youtubeLink' placeholder={{alts.youtubeLink}}>
			</div>
			<iframe width="560" height="315" src="{{alts.youtubeLink}}" frameborder="0"
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
			<div>
				<label for="price">Price: $</label>
				<input type="number" name="price" id='price' placeholder={{alts.price}}>
			</div>

			<input type="submit" class='submit-button' value="Submit" onclick="add()">
		</form>

	</div>
	<footer>
		<a href="/">Return to Home Page</a>
		<a href="/alts">Back to Alt Accounts</a>
	</footer>
</main>