<main>
	<h2>Alt Accounts:</h2>

	{{#each alts}}

	<div class="alt">

		<p>Alias: {{alias}}</p>

		<p>Game: {{game}}</p>
		<p>Platform: {{platform}}</p>
		<p>Hours spent in-game: {{hours}} hours</p>
		<p>Highlights:</p>
		<iframe width="560" height="315" src="{{youtubeLink}}" frameborder="0"
			allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<p>Price: ${{price}}</p>
		<a href='/alts/{{_id}}'>
			<h3>See More</h3>
		</a>
	</div>

	{{/each}}

	<footer>
		<a href="/alts/new">Create a new account</a>
		<a href="/">Return to Home Page</a>
	</footer>
</main>