<main>

	<h2>You are viewing:
		{{alt.alias}}
	</h2>

	<a href="/">Return to Home Page</a>

	<div class="alt-container">
		<h2 id="alt-name">
			{{alt.alias}}
		</h2>

		<br>

		<h3>Platform:</h3>
		<p>
			{{alt.platform}}
		</p>
        <br>

		<h3>forSale:</h3>
		<p id="offer">
			{{alt.forSale}} </p><br>
		<h3 id="price">
			${{alt.price}} for account
		</h3>

		<br>

        <h3>Video Highlight</h3>

        <iframe width="560" height="315" src="{{alt.youtubeLink}}" frameborder="0" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>

		<a href="{{alt._id}}/edit">
			<h3>Edit</h3>
		</a>
		<form action="/{{axis._id}}?_method=DELETE" method="POST">
			<input type="submit" value="delete">
		</form>
		
	</div>

{{!-- gotta add comments in here --}}

</main>
